p{
    color:blueviolet;
    color:rgb(138, 43, 226);
}

h1{
    color:crimson;
}

section{
    background-color:azure;
}

table th,
table td {
    padding: 0.3em 1em;
}

table thead th,
table tfoot th,
table tbody th {
    background-color: rgba(0, 0, 0, 0.3);
    color: black;
}

table tbody td {
    background-color: rgba(0, 0, 0, 0.05);
}

table tbody tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
    display: inline;
    margin-left: 0.5em;
}

button[type="submit"] {
    border: none;
    padding: 1em 3em;
    background-color: #2E8BC0;
    color: #0C2D48;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #145DA0;
}

input:invalid,
textarea:invalid {
    background-color: (255, 0, 0, 0.1);
    border: 1px solid red;
}